@import url("https://fonts.googleapis.com/css?family=Merriweather&display=swap");
@import url("https://fonts.googleapis.com/css?family=Andika&display=swap");
header .button, footer .send-button {
  width: 150px;
  color: white;
  padding: 10px 20px;
  font-family: Andika;
  font-size: 13rem;
  text-align: center;
  background-color: #005FA3;
  cursor: pointer; }

.services, .about-us, .partners, .feedback {
  padding: 5% 0; }
  .services h3, .about-us h3, .partners h3, .feedback h3 {
    font-size: 20rem;
    font-family: Andika;
    color: #BDBDBD;
    margin-bottom: 2%; }
  .services h2, .about-us h2, .partners h2, .feedback h2 {
    font-size: 40rem;
    font-family: Merriweather;
    margin-bottom: 5%; }
  .services span, .about-us span, .partners span, .feedback span {
    color: #005FA3; }
  .services p, .about-us p, .partners p, .feedback p {
    color: black;
    font-size: 18rem;
    font-family: Andika; }

nav {
  height: 100rem;
  padding: 20rem 0; }
  nav .center {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .center .logo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-family: Merriweather;
      font-size: 30rem;
      font-weight: bold;
      color: #005FA3; }
      nav .center .logo img {
        margin-right: 30%;
        width: 50rem; }
    nav .center .navigation {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-self: stretch;
      width: 60%; }
      nav .center .navigation ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none; }
      nav .center .navigation .contacts {
        font-family: Andika;
        font-size: 12rem; }
        nav .center .navigation .contacts li {
          white-space: nowrap; }
          nav .center .navigation .contacts li:not(:last-child) {
            margin-right: 3%; }
        nav .center .navigation .contacts .fas, nav .center .navigation .contacts .far {
          color: #005FA3;
          margin-right: 5%; }
      nav .center .navigation .menu a:any-link {
        font-family: Andika;
        font-size: 13rem;
        font-weight: bold;
        color: black;
        text-decoration: none;
        text-transform: uppercase; }
      nav .center .navigation .menu a:hover {
        text-decoration: underline; }

header .slider {
  overflow: hidden;
  width: 100vw;
  min-height: 40vw;
  position: relative; }
  header .slider ul {
    display: flex;
    list-style: none;
    position: absolute;
    left: 0vw;
    transition: left 1s ease; }
    header .slider ul li {
      width: 100vw;
      height: 40vw; }
  header .slider .slider-panel {
    position: absolute;
    bottom: 3%;
    width: 70vw;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20rem; }
    header .slider .slider-panel .position ul {
      display: flex;
      list-style: disc;
      list-style-position: inside; }
      header .slider .slider-panel .position ul li {
        margin-right: 10%;
        width: 30px;
        transition: color 1s ease; }
      header .slider .slider-panel .position ul .onscreen {
        font-weight: bold; }
    header .slider .slider-panel .slider_buttons {
      display: flex; }
      header .slider .slider-panel .slider_buttons .slider_prev-button, header .slider .slider-panel .slider_buttons .slider_next-button {
        width: 50px;
        line-height: 50px;
        color: white;
        font-size: 25rem;
        text-align: center;
        cursor: pointer;
        user-select: none; }
  header .slider .filter {
    width: 100%;
    height: 100%;
    background-color: #00000088; }
  header .slider .first {
    background: url("/img/bg-header1.jpg");
    background-size: cover; }
  header .slider .second {
    background: url("/img/bg-header2.jpg");
    background-size: cover;
    background-position-y: -150px; }
  header .slider .third {
    background: url("/img/bg-header3.jpg");
    background-size: cover;
    background-position-y: -150px; }
  header .slider h2 {
    font-family: Merriweather;
    font-size: 36rem;
    color: white;
    width: 50%;
    padding-top: 20%; }
  header .slider .slider_prev-button {
    background-color: rgba(255, 255, 255, 0.3); }
  header .slider .slider_next-button {
    background-color: rgba(255, 255, 255, 0.6); }
  header .slider .position ul {
    color: rgba(255, 255, 255, 0.4); }
    header .slider .position ul .onscreen {
      color: rgba(255, 255, 255, 0.9); }
header .button {
  margin: 5% 0; }

.services {
  background-color: #EBEBEB; }
  .services .specials {
    display: flex;
    flex-wrap: wrap; }
    .services .specials .special_item {
      width: 30%;
      background: url(/img/bg-special.png);
      background-size: cover;
      margin-bottom: 5%;
      font-size: 22rem;
      font-family: Merriweather;
      color: white;
      cursor: pointer; }
      .services .specials .special_item:not(:nth-child(3n)) {
        margin-right: 5%; }
      .services .specials .special_item .filter {
        padding: 70% 8% 8%; }
      .services .specials .special_item:hover .filter {
        background-color: rgba(0, 95, 163, 0.65); }

.about-us .content {
  display: flex;
  justify-content: space-between; }
  .about-us .content > div {
    width: 46%; }
  .about-us .content .additional-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .about-us .content .additional-content h2 {
      font-family: Andika;
      margin-bottom: 0; }
    .about-us .content .additional-content p {
      font-size: 14rem; }
    .about-us .content .additional-content a:any-link {
      font-family: Andika;
      color: #005FA3; }
    .about-us .content .additional-content .flexColumn {
      width: 46%;
      height: 50%;
      padding: 7%;
      background-color: #ebebeb;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 7%; }
    .about-us .content .additional-content .flexColumn:hover {
      background-color: #005FA3;
      color: white; }
      .about-us .content .additional-content .flexColumn:hover p {
        color: white; }
      .about-us .content .additional-content .flexColumn:hover a:any-link {
        color: white; }

.partners {
  background-color: #ebebeb; }
  .partners .slider {
    overflow: hidden;
    width: 100%;
    min-height: 180px;
    position: relative; }
    .partners .slider ul {
      display: flex;
      list-style: none;
      position: absolute;
      left: 0vw;
      transition: left 1s ease; }
      .partners .slider ul li {
        width: 100%;
        height: 180px; }
    .partners .slider .slider-panel {
      position: absolute;
      bottom: 3%;
      width: 100%;
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20rem; }
      .partners .slider .slider-panel .position ul {
        display: flex;
        list-style: disc;
        list-style-position: inside; }
        .partners .slider .slider-panel .position ul li {
          margin-right: 10%;
          width: 30px;
          transition: color 1s ease; }
        .partners .slider .slider-panel .position ul .onscreen {
          font-weight: bold; }
      .partners .slider .slider-panel .slider_buttons {
        display: flex; }
        .partners .slider .slider-panel .slider_buttons .slider_prev-button, .partners .slider .slider-panel .slider_buttons .slider_next-button {
          width: 50px;
          line-height: 50px;
          color: white;
          font-size: 25rem;
          text-align: center;
          cursor: pointer;
          user-select: none; }
    .partners .slider .slide {
      min-width: 300px; }
    .partners .slider .slide-content {
      display: flex;
      justify-content: space-between; }
      .partners .slider .slide-content img {
        width: 20%; }
  .partners .slider-panel .position ul {
    color: rgba(0, 95, 163, 0.4); }
  .partners .slider-panel .onscreen {
    color: rgba(0, 95, 163, 0.9); }
  .partners .slider-panel .slider_prev-button {
    background-color: rgba(0, 95, 163, 0.3); }
  .partners .slider-panel .slider_next-button {
    background-color: rgba(0, 95, 163, 0.6); }

.feedback .slider {
  overflow: hidden;
  width: 100%;
  min-height: 300px;
  position: relative; }
  .feedback .slider ul {
    display: flex;
    list-style: none;
    position: absolute;
    left: 0vw;
    transition: left 1s ease; }
    .feedback .slider ul li {
      width: 100%;
      height: 300px; }
  .feedback .slider .slider-panel {
    position: static;
    bottom: 3%;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20rem; }
    .feedback .slider .slider-panel .position ul {
      display: flex;
      list-style: disc;
      list-style-position: inside; }
      .feedback .slider .slider-panel .position ul li {
        margin-right: 10%;
        width: 30px;
        transition: color 1s ease; }
      .feedback .slider .slider-panel .position ul .onscreen {
        font-weight: bold; }
    .feedback .slider .slider-panel .slider_buttons {
      display: flex; }
      .feedback .slider .slider-panel .slider_buttons .slider_prev-button, .feedback .slider .slider-panel .slider_buttons .slider_next-button {
        width: 50px;
        line-height: 50px;
        color: white;
        font-size: 25rem;
        text-align: center;
        cursor: pointer;
        user-select: none; }
  .feedback .slider .slide {
    min-width: 300px; }
  .feedback .slider .slide-content {
    display: flex;
    justify-content: space-between; }
    .feedback .slider .slide-content img {
      width: 20%; }
.feedback .slider-panel {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20rem; }
  .feedback .slider-panel .position ul {
    display: flex;
    list-style: disc;
    list-style-position: inside;
    color: rgba(0, 95, 163, 0.4); }
    .feedback .slider-panel .position ul li {
      margin-right: 10%;
      width: 30px;
      transition: color 1s ease; }
    .feedback .slider-panel .position ul .onscreen {
      font-weight: bold;
      color: rgba(0, 95, 163, 0.9); }
  .feedback .slider-panel .slider_buttons {
    display: flex; }
    .feedback .slider-panel .slider_buttons .slider_prev-button, .feedback .slider-panel .slider_buttons .slider_next-button {
      width: 50px;
      line-height: 50px;
      color: white;
      font-size: 25rem;
      text-align: center;
      cursor: pointer;
      user-select: none; }
    .feedback .slider-panel .slider_buttons .slider_prev-button {
      background-color: rgba(0, 95, 163, 0.3); }
    .feedback .slider-panel .slider_buttons .slider_next-button {
      background-color: rgba(0, 95, 163, 0.6); }
.feedback .slide {
  display: flex;
  align-items: stretch; }
.feedback .slide-content {
  display: flex;
  align-items: stretch; }
.feedback .post {
  padding: 5%;
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-self: stretch; }
  .feedback .post p {
    font-size: 14rem;
    font-family: Andika; }
  .feedback .post .post_author {
    display: flex; }
    .feedback .post .post_author .author_name {
      margin-left: 3%; }
    .feedback .post .post_author img {
      width: 10%;
      border-radius: 50%; }
    .feedback .post .post_author h4 {
      font-size: 20rem;
      font-family: Andika; }

footer {
  font-size: 16rem;
  background: url("/img/bg-header1.jpg");
  background-size: cover;
  color: #ffffff;
  font-family: Andika; }
  footer .filter {
    background-color: #00000088;
    padding: 10% 0; }
  footer h2 {
    font-family: Merriweather;
    font-size: 36rem;
    margin-bottom: 10%; }
  footer p {
    margin-bottom: 15%; }
  footer .center {
    display: flex;
    justify-content: space-between; }
    footer .center > div {
      width: 46%; }
  footer .contacts-block {
    font-size: 18rem; }
    footer .contacts-block .contacts ul {
      display: flex;
      justify-content: space-between;
      list-style: none inside; }
  footer input, footer textarea {
    background-color: transparent;
    border: transparent;
    border-bottom: 1px solid #ffffff;
    color: #ffffff;
    font-size: 16rem; }
  footer textarea {
    width: 70%;
    height: 50%;
    resize: none; }
  footer .message-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch; }
    footer .message-form .name-block {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5%; }
      footer .message-form .name-block .name {
        width: 48%; }
    footer .message-form .message-block {
      align-self: stretch;
      height: 200px; }
  footer .send-button {
    align-self: flex-end; }

.copyright {
  padding: 1% 0;
  font-size: 12rem;
  font-family: Andika; }
  .copyright .center {
    display: flex;
    justify-content: space-around; }

html {
  font-size: 1px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #f9f9f9;
  overflow-x: hidden; }

.center {
  margin: 0 auto;
  width: 70%; }

/*# sourceMappingURL=style.css.map */
