*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #f3f3f3;
    font-family: 'Source Sans Pro', sans-serif;
}
.wrapper{
    width:960px;
    margin:0px auto;
}
div, header{
    box-sizing: border-box;
}
.circle{
    border-radius: 50%;
}

/*  <!-- header --!>  */

header{
    width: 960px;
    margin: 0px auto;

    background-image: url('/img/restaraunt1.jpg');
    
    color:white;
    text-align: center;
}
.green-fog{
    background-color: rgba(90, 112, 91, 0.432);
}
#navbar{
    display: flex;
    justify-content: space-between;
    padding:10px 40px;
    margin-bottom: 40px;
}
.menu{
    display: flex;
}
.get-card-link:any-link{
    font-size:14px;
    text-decoration:none;

    display: inline-block;
    margin-right:20px;
    padding: 10px;

    border:1px solid orangered;
    border-radius: 4px;
    color: orangered;
}
.get-card-link:hover{
    background-color: orangered;
    color:white;
}
.menu-button div, .menu-button div::after, .menu-button div::before, .menu-button:hover, .menu-button.active, .menu-button.active div, .menu-button.active div::after, .menu-button.active div::before{
    transition:all 1s ease-in;
}
.menu-button{
    padding:8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.menu-button div{
    width: 29px;
    height: 5px;
    background: #fff;
}
.menu-button:hover{
    background:  rgb(90, 112, 91, 32);
}
.menu-button div::after{
    display: block;
    content: "";
    width: 29px;
    height: 5px;
    background: #fff;
    margin-top: 15px;

    transform-origin: right;
    transform:rotate(0deg);
}
.menu-button div::before{
    display: block;
    content: "";
    width: 29px;
    height: 5px;
    background: #fff;
    margin-top:-10px;

    transform-origin: right;
    transform:rotate(0deg);
} 

.menu-button.active div{
    background-color: transparent;
}
.menu-button.active div:after{
    transform:rotate(45deg);
}
.menu-button.active div:before{
    transform:rotate(-45deg);
}

#header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 90px;
}
.header-text h1{
    font-weight: normal;
    font-size:35px;
}
.header-text{
    font-size: 12px;
    text-align: justify;
}
.price h3{
    font-size:30px;
    font-weight: normal;
}
.price{
    width:75px;
    height:75px;

    padding: 15px;

    background-color: orangered;
    font-size: 10px;
    line-height: 22px;
    text-align: center;
}
.price div{
    display: inline-block;
    vertical-align: middle;
}

#search-section{
    padding-bottom:70px;
    font-size: 0px;
}
#search-section input, #search-section select{
    height: 40px;
}
#search-section select{
    width:145px;
    font-weight: bold;
    font-size: 17px;
}
.search-input{
    width: 350px;
    font-size: 17px;
}
.search-button{
    font-size:12px;
    line-height:43px;    

    border:0px;
    width:130px;
    color: white;
    background-color: #17a84f;
}


/* <--- header ---> */