*{
    margin:0px;
    padding: 0px;
}
body{
    background-color: #f3f3f3;
    font-family: 'Source Sans Pro', sans-serif;
}
div, header{
    box-sizing: border-box;
}
.circle{
    border-radius: 50%;
}
/*  <!-- header --!>  */

header{
    width: 960px;
    margin: 0px auto;

    background-image: url('/img/restaraunt1.jpg');
    
    color:white;
    text-align: center;
}
.green-fog{
    background-color: rgba(90, 112, 91, 0.432);
}
#navbar{
    position: relative;
    height: 130px;
}

.logo{
    position: absolute;
    top:15px;
    left:35px;
}
.menu{
    position: absolute;
    top:15px;
    right: 35px;
}
.get-card-link:any-link{
    font-size:14px;
    text-decoration:none;

    display: inline-block;
    margin-right:20px;
    padding: 10px;

    border:1px solid orangered;
    border-radius: 4px;
    color: orangered;
}
.get-card-link:hover{
    background-color: orangered;
    color:white;
}
.menu-button a:any-link{
    font-size:20px;

    text-decoration: none;
    color: white;
}

#header-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 90px;
}
.header-text h1{
    font-weight: normal;
    font-size:35px;
}
.header-text{
    font-size: 12px;
    text-align: justify;
}
.price h1{
    font-size:30px;
    font-weight: normal;
}
.price{
    width:75px;
    height:75px;

    padding: 15px;

    background-color: orangered;
    font-size: 10px;
    line-height: 22px;
}

#search-section{
    padding-bottom:70px;
    font-size: 0px;
}
#search-section input, #search-section select{
    height: 40px;
}
#search-section select{
    width:145px;
    font-weight: bold;
    font-size: 17px;
}
.search-input{
    width: 350px;
    font-size: 17px;
}
.search-button{
    font-size:12px;
    line-height:43px;    

    border:0px;
    width:130px;
    color: white;
    background-color: #17a84f;
}


/* <--- header ---> */