
header
    .slider
        @include slider(100vw, 40vw, absolute, 70vw)
        .filter
            width: 100%
            height: 100%
            background-color: #00000088
        .first
            background: url('../img/bg-header1.jpg')
            background-size: cover
        .second
            background: url('../img/bg-header2.jpg')
            background-size: cover
            background-position-y: -150px
        .third
            background: url('../img/bg-header3.jpg')
            background-size: cover
            background-position-y: -150px
        h2
            font-family: $headerFont
            font-size: 36rem
            color: white
            width: 50%
            padding-top: 20%
        .slider_prev-button
            background-color: rgba(255, 255, 255, 0.3)
        .slider_next-button
            background-color: rgba(255, 255, 255, 0.6)
        .position ul
            color: rgba(255, 255, 255, 0.4)
            .onscreen
                color: rgba(255, 255, 255, 0.9)


    
    .button
        @extend %button
        margin: 5% 0



            