@import "_config"
@import "_nav"
@import "_header"
@import "_services"
@import "_about-us"
html
    font-size: 1px
   
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    background-color: #f9f9f9
.center
    @include centerContent
