footer {
    position: relative;
    background-color: rgb(38, 51, 39);
    padding: 10px 40px 10px;
    color: white;
}

.footer_menu {
    border-top: 1px solid rgba(170, 170, 170, 0.5);
    border-bottom: 1px solid rgba(170, 170, 170, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
    padding: 20px 15px;
}

.footer_copyright {
    font-size: 14px;
    text-align: center;
}